@charset "utf-8";
/* CSS Document */
body{
	
	background-color:#BBBBBB;
	} 
	
h1{
	font-family: OCR A Std, monospace;
	 margin-left: 100px;
	 margin-top:50px;
	}
	
.button2{
	width: 300px;
	padding: 4px;
	color: black;
  background-color: lightgray;
  font-weight: bold;
  font-size: 100%;
  border: 3px double gray;
  border-top-color: #FC9;
  border-left-color: #FC9;
  text-align: left;
  margin-left: 100px;
  margin-top: 100px;
  font-family: OCR A Std, monospace;
}
	
.button2:hover{
color: #FFF;
 background: #141414;
 cursor: pointer;
}
